@import "media.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "Muli";
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;

  & > div {
    position: relative;
    z-index: 1;
  }
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  color: #253444;
  box-sizing: border-box;
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

.site-btn{
  padding: 0 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 43px;
  border: 2px solid #edc913;
  background-color: #edc913;
  transition: .3s all;
  color: white;
  text-transform: uppercase;
  min-width: 140px;
  font-size: 15px;
  font-weight: 700;
  width: fit-content;

  &:hover{
    color: #edc913;
    background-color: transparent;
  }

  &--reverse{
    color: #edc913;
    background-color: transparent;
  }
}

.site-name{
  color: #edc913;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.site-title{
  font-weight: 700;
  color: #007b5b;
  font-size: 36px;
  text-align: center;

  &--white{
    color: white;
  }
}
