footer.footer
  .footer__inner
    .footer__item
      .footer__mail
        .footer__mail-i
          .footer__mail-title I haven't ordered yet.
          a(href="mailto:support@thesisrush.com").footer__mail-link support@thesisrush.com
        .footer__mail-i
          .footer__mail-title I need clarification on payment.
          a(href="mailto:sales@thesisrush.com").footer__mail-link sales@thesisrush.com
        .footer__mail-i
          .footer__mail-title I have an order in progress.
          a(href="mailto:billing@thesisrush.com").footer__mail-link billing@thesisrush.com
      .footer__phone
        .footer__phone-i
          .footer__phone-title Phone:
          a(href="tel:+18448595860").footer__phone-link +1 (844) 859-5860
    .footer__item
      .footer__search
        .footer__search-title Lorem ipsum dolor sit
        form.footer__search-form
          .footer__search-wrap
            input(type="text" placeholder="Your Email").footer__search-input.email-field
            span.error-message error-message
          a(href="#").footer__search-btn.site-btn-violet Subscribe
        .footer__search-success
          img(src="./img/home/footer-check.svg").footer__search-success-img
          .footer__search-success-txt Awesome. Now you'll never miss out.

    .footer__item
      .footer__search.tablet
        .footer__search-title Lorem ipsum dolor sit
        form.footer__search-form
          .footer__search-wrap
            input(type="text" placeholder="Your Email").footer__search-input.email-field
            span.error-message error-message
          a(href="#").footer__search-btn.site-btn-violet Subscribe
        .footer__search-success
          img(src="./img/home/footer-check.svg").footer__search-success-img
          .footer__search-success-txt Awesome. Now you'll never miss out.
      .footer__txt
        p All model papers provided by mycustomessay.com must be probperly referenced. We do not endorse or encourage any activities that are in violation of applicable law or any university policies.
        p We use cookies to improve your experience. By continuing to use this website, you agree to the use of cookies. To learn more about our privacy and cookie policy, see <a href="#">Terms of Use</a>.

  .footer__bottom © Copyright ThesisRush.com - 2014 -2018 | Thesis & Dissertation Sample Writing Service
