header.header
  .header__inner.site-container
    .header__logo
      a(href="#")
        picture
          source(srcset="./img/td-logo.webp" type="image/webp")
          source(srcset="./img/td-logo.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="140" height="40" alt="img")
    .header__menu
      .header__menu-item
        a(href="#").header__menu-link About project
      .header__menu-item
        a(href="#").header__menu-link Philosophy
      .header__menu-item
        a(href="#").header__menu-link Opportunities
      .header__menu-item
        a(href="#").header__menu-link Profit calculator
      .header__menu-item
        a(href="#").header__menu-link News

    .header__login
      a(href="#").header__login-btn.site-btn.site-btn--reverse SIGN IN

