header.header
  .header__inner.block-wrap
    .header__logo
      a(href="#")
        img(src="./img/home/logo.svg")
    .header__menu-wrap
      ul.header__menu
        li.header__menu-item
          a(href="./how-it-work.html" class=(pageActive === "hiw" ? "header__menu-link header__menu-link--active" : 'header__menu-link')) How It Works
        li.header__menu-item
          a(href="./pricing.html" class=(pageActive === "pricing" ? "header__menu-link header__menu-link--active" : 'header__menu-link')) Pricing
        li.header__menu-item
          a(href="./about.html" class=(pageActive === "about" ? "header__menu-link header__menu-link--active" : 'header__menu-link')) About
        li.header__menu-item.header__menu--submenu
          a(href="javascript:void(0)").header__menu-link Services
          ul.header__submenu
            li.header__submenu-item
              a(href="#").header__submenu-link Dissertation services
              ul.header__second-submenu
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Thesis writers
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Buy thesis papers
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Graduation thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Bachelor thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Doctoral thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link MBA thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link PhD thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Master's thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Accounting thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Marketing thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Sociology thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Psychology thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link History thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Medical thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Computer science thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Thesis editing services
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Thesis proofreading services
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Argumentative thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link College thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Political science thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link APA thesis writing style
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link MLA thesis format
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Nursing thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Business thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Math thesis
            li.header__submenu-item
              a(href="#").header__submenu-link Popular requests
              ul.header__second-submenu
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Please, do my thesis for me
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Thesis help
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Thesis assistance
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Write my thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Buy a thesis online
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Order thesis online
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Pay for dissertation
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Purchase thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Custom thesis

                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Help with thesis writing
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Dissertation help online
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Dissertation abstracts
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Purchase dissertation online
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Order dissertation online
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Economics thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Philosophy thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Purchase thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link English thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Law thesis
                li.header__second-submenu-item
                  a(href="#").header__second-submenu-link Art thesis

            li.header__submenu-item.header__submenu-item--last
              a(href="#").header__submenu-link.block-link Visit our blog

        li.header__menu-item
          a(href="./contact.html" class=(pageActive === "contact" ? "header__menu-link header__menu-link--active" : 'header__menu-link')) Contact
    .header__login
      a(href="#").header__login-link Log in
    .header__mobile-menu.tablet



