extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "";
	- var pageActive = "homepage";

block content
	//.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

		<picture>
			<source srcset="./img/awesomeWebPImage.webp" type="image/webp">
			<source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
			<img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
		</picture>

	div.main-wrap
		.top-block
			.top-block__inner.site-container
				.top-block__left
					h1.top-block__title The Future <br> of Financing Technology is Here.
					.top-block__items
						.top-block__item
							.top-block__icon
							.top-block__txt
								.top-block__price $ 345K
								.top-block__caption TOTAL INVESTMENTS
						.top-block__item
							.top-block__icon
							.top-block__txt
								.top-block__price $ 1.7M
								.top-block__caption TOTAL BONUS
						.top-block__item
							.top-block__icon
							.top-block__txt
								.top-block__price 1.8K
								.top-block__caption 24H NEW MEMBERS
						.top-block__item
							.top-block__icon
							.top-block__txt
								.top-block__price $ 2.4M
								.top-block__caption TOTAL PROFIT
						.top-block__item
							.top-block__icon
							.top-block__txt
								.top-block__price 19K
								.top-block__caption TOTAL MEMBERS
				.top-block__right
					.top-block__img
						img(src="" alt="img")

				.top-block__bottom
					.top-block__btn.site-btn

		.hiw
			.hiw__inner
				.hiw__name
				.hiw__title
				.hiw__img
				.hiw__items
					.hiw__item
						.hiw__num 1
						.hiw__txt Register
					.hiw__item
						.hiw__num 2
						.hiw__txt Top up your  wallet
					.hiw__item
						.hiw__num 3
						.hiw__txt Choose investment type
					.hiw__item
						.hiw__num 4
						.hiw__txt Withdraw your  investment with % after 24 hours
					.hiw__item
						.hiw__num 5
						.hiw__txt Invest again
