extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
    </picture>

  div.main-wrap
    .top-block
      .top-block__bg
        picture
          source(srcset="./img/top-bg.webp" type="image/webp")
          source(srcset="./img/top-bg.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  height="865" alt="img")
      .top-block__inner.site-container
        .top-block__content
          .top-block__left
            h1.top-block__title The Future <br> of Financing Technology is Here.
            .top-block__items
              .top-block__item
                .top-block__icon
                  picture
                    source(srcset="./img/top-block-ico01.webp" type="image/webp")
                    source(srcset="./img/top-block-ico01.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="46" width="50" alt="img")
                .top-block__txt
                  .top-block__price $ 345K
                  .top-block__caption TOTAL INVESTMENTS
              .top-block__item
                .top-block__icon
                  picture
                    source(srcset="./img/top-block-ico02.webp" type="image/webp")
                    source(srcset="./img/top-block-ico02.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="46" width="47" alt="img")
                .top-block__txt
                  .top-block__price $ 1.7M
                  .top-block__caption TOTAL BONUS
              .top-block__item.top-block__item--empty
              .top-block__item
                .top-block__icon
                  picture
                    source(srcset="./img/top-block-ico03.webp" type="image/webp")
                    source(srcset="./img/top-block-ico03.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="46" width="56" alt="img")
                .top-block__txt
                  .top-block__price 1.8K
                  .top-block__caption 24H NEW MEMBERS
              .top-block__item
                .top-block__icon
                  picture
                    source(srcset="./img/top-block-ico04.webp" type="image/webp")
                    source(srcset="./img/top-block-ico04.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="46" width="50" alt="img")
                .top-block__txt
                  .top-block__price $ 2.4M
                  .top-block__caption TOTAL PROFIT
              .top-block__item
                .top-block__icon
                  picture
                    source(srcset="./img/top-block-ico05.webp" type="image/webp")
                    source(srcset="./img/top-block-ico05.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="46" width="46" alt="img")
                .top-block__txt
                  .top-block__price 19K
                  .top-block__caption TOTAL MEMBERS
          .top-block__right
            .top-block__img
              picture
                source(srcset="./img/man.webp" type="image/webp")
                source(srcset="./img/man.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="515" width="575" alt="img")

        .top-block__bottom
          a(href="#").top-block__btn.site-btn START NOW

    .hiw
      .hiw__inner.site-container
        .hiw__name.site-name How it works
        .hiw__title.site-title Investment process
        .hiw__img
          picture
            source(srcset="./img/video.webp" type="image/webp")
            source(srcset="./img/video.jpg" type="image/jpg")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="650" alt="img")
          //img(src="./img/video.jpg" width="650")
        .hiw__items
          .hiw__item.one
            //.hiw__num.one
            .hiw__txt Register
          .hiw__item.two
            //.hiw__num
            .hiw__txt Top up your  wallet
          .hiw__item.three
            //.hiw__num.three
            .hiw__txt Choose investment type
          .hiw__item.four
            //.hiw__num.four
            .hiw__txt Withdraw your  investment with <b>%</b> after <b>24</b> hours
          .hiw__item.five
            //.hiw__num.five
            .hiw__txt Invest again

        .hiw__bottom
          a(href="#").hiw__btn.site-btn START NOW



    .project
      .project__bg
        picture
          source(srcset="./img/project-bg.webp" type="image/webp")
          source(srcset="./img/project-bg.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="835" alt="img")
      .project__inner.site-container
        .project__title.site-title.site-title--white Project benefits
        .project__main
          .project__list.b-lazy(data-blazy="./img/project-items-bg.webp")
            .project__item
              .project__item-ico
                picture
                  source(srcset="./img/ico/project-ico-01.webp" type="image/webp")
                  source(srcset="./img/ico/project-ico-01.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="154" width="154" alt="img")
              .project__item-txt
                span Warranty
                | Smart Contract
            .project__item
              .project__item-ico
                picture
                  source(srcset="./img/ico/project-ico-02.webp" type="image/webp")
                  source(srcset="./img/ico/project-ico-02.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="154" width="154" alt="img")
              .project__item-txt
                span Convenient
                | All automatically
            .project__item
              .project__item-ico
                picture
                  source(srcset="./img/ico/project-ico-03.webp" type="image/webp")
                  source(srcset="./img/ico/project-ico-03.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="154" width="154" alt="img")
              .project__item-txt
                span Simple
                | No need to memorize <br>
                | a lot of unnecessary info
            .project__item
              .project__item-ico
                picture
                  source(srcset="./img/ico/project-ico-04.webp" type="image/webp")
                  source(srcset="./img/ico/project-ico-04.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="154" width="154" alt="img")
              .project__item-txt
                span Profitable
                | Profit every 24 hours
            .project__item
              .project__item-ico
                picture
                  source(srcset="./img/ico/project-ico-05.webp" type="image/webp")
                  source(srcset="./img/ico/project-ico-05.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="154" width="154" alt="img")
              .project__item-txt
                span Available
                | Minimum investment <br>
                | amount 5 USD
        .project__bottom
          a(href="#").project__btn.site-btn START NOW


    .calculator
      .calculator__inner.site-container
        .calculator__title.site-title Profit calculator
        .calculator__block
          .calculator__left.b-lazy(data-blazy="./img/calc-bg-big.webp")
            .calculator__top
              .calculator__top-img
                picture
                  source(srcset="./img/billex.webp" type="image/webp")
                  source(srcset="./img/billex.png" type="image/png")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="49" width="46" alt="img")
              .calculator__top-txt Calculated for
                span 1 USD BILLEX = 1 USA DOLLAR
            .calculator__fields
              .calculator__row
                label(for="sel").calculator__label Choose investment plan
                .calculator__select-wrap
                  select.calculator__select#sel
                    option Automatic
                    option Custom
              .calculator__row
                label(for="inp1").calculator__label Choose a sum
                input(type="text" id="inp1" value="1000").calculator__input
              .calculator__row
                label(for="sel2").calculator__label Choose referral system level
                .calculator__select-wrap
                  select.calculator__select#sel2
                    option Level 1
                    option Level 2

          .calculator__right
            .calculator__profit-name USD BILLEX
            .calculator__profit-double
              .calculator__profit-double-i.b-lazy(data-blazy="./img/calc-bg-min.webp")
                | PROFIT PERCENT PER DAY
                span 1%
              .calculator__profit-double-i.b-lazy(data-blazy="./img/calc-bg-min.webp")
                | REFERRAL SYSTEM BONUS
                span 150 USD
            .calculator__profit-row Profit per day
              span 10 USD
            .calculator__profit-row Profit per week
              span 70 USD
            .calculator__profit-row Profit per month
              span 30 USD
            .calculator__profit-row Profit per year
              span 3650 USD

    .present
      .present__bg
        picture
          source(srcset="./img/bottom-bg.webp" type="image/webp")
          source(srcset="./img/bottom-bg.png" type="image/png")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  height="1000" alt="img")
      .present__inner.site-container
        .present__title.site-title.site-title--white Without extra words - clean mathematics
        .present__table
          .present__table-head
            .present__table-head-bg
            .present__table-row
              .present__table-column Level
              .present__table-column Time to profit
              .present__table-column Partners
              .present__table-column Partners investments
              .present__table-column Bonus
          .present__table-body
            .present__table-body-bg
            .present__table-row
              .present__table-column 1
              .present__table-column 24 Hours
              .present__table-column 30
              .present__table-column 10 000 USD
              .present__table-column 150 USD
            .present__table-row
              .present__table-column 2
              .present__table-column 12 Hours
              .present__table-column 75
              .present__table-column 50 000 USD
              .present__table-column 750 USD
            .present__table-row
              .present__table-column 3
              .present__table-column 6 Hours
              .present__table-column 150
              .present__table-column 125 000 USD
              .present__table-column 1500 USD
        .present__btn
          a(href="#").present__btn-i
            picture
              source(srcset="./img/ico/pdf-ico.webp" type="image/webp")
              source(srcset="./img/ico/pdf-ico.png" type="image/png")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="45" width="36"  alt="img")
            span DOWNLOAD <br> PRESENTATION

    .quest
      .quest__inner.site-container
        .quest__name.site-name FAQ
        .quest__title.site-title Questions you often ask
        .quest__content
          .quest__item
            .quest__btn
              picture
                source(srcset="./img/ico/arrow-ico.webp" type="image/webp")
                source(srcset="./img/ico/arrow-ico.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="37" width="37" alt="img")
            .quest__quest-text How to Identify a Bitcoin or Ethereum Cloud Mining Scam?
            .quest__response-text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .quest__item
            .quest__btn
              picture
                source(srcset="./img/ico/arrow-ico.webp" type="image/webp")
                source(srcset="./img/ico/arrow-ico.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="37" width="37" alt="img")
            .quest__quest-text What is a Merkle Tree?
            .quest__response-text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .quest__item
            .quest__btn
              picture
                source(srcset="./img/ico/arrow-ico.webp" type="image/webp")
                source(srcset="./img/ico/arrow-ico.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="37" width="37" alt="img")
            .quest__quest-text How does a Bitcoin node verify a transaction?
            .quest__response-text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .quest__item
            .quest__btn
              picture
                source(srcset="./img/ico/arrow-ico.webp" type="image/webp")
                source(srcset="./img/ico/arrow-ico.png" type="image/png")
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="37" width="37"  alt="img")
            .quest__quest-text How Does Bitcoin Cryptography work?
            .quest__response-text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

