extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
    </picture>

  div.main-wrap
    .rellax(data-rellax-speed="-20")
    .home-top
      .home-top__inner.block-wrap
        .home-top__pencil-wrap
          .home-top__pencil
        .home-top__txt put the seal on your degree
        .home-top__caption.block-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        .home-top__btn
          a(href="#").home-top__btn-i.site-btn-violet place order
    .home-card
      .home-card__inner.block-wrap
        .home-card__list-tab.tablet
          a(href="javascript:void(0)").home-card__list-tab-i.active Proposal
          a(href="javascript:void(0)").home-card__list-tab-i Thesis
          a(href="javascript:void(0)").home-card__list-tab-i Dissertation

        .home-card__list
          .home-card__item-wrap.active
            .home-card__item
              .home-card__title Proposal
              .home-card__txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              .home-card__btn
                a(href="#").home-card__btn-i.site-btn-tpt View sample
                a(href="#").home-card__btn-i.site-btn-blue Order now
          .home-card__item-wrap
            .home-card__item
              .home-card__title Thesis
              .home-card__txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              .home-card__btn
                a(href="#").home-card__btn-i.site-btn-tpt View sample
                a(href="#").home-card__btn-i.site-btn-blue Order now
          .home-card__item-wrap
            .home-card__item
              .home-card__title Dissertation
              .home-card__txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              .home-card__btn
                a(href="#").home-card__btn-i.site-btn-tpt View sample
                a(href="#").home-card__btn-i.site-btn-blue Order now


    .typewriter
      .typewriter__inner.block-wrap
        .typewriter__left
          .typewriter__desc-i.show
            .typewriter__title.block-title Geeks do it better We are writing geeks, and we are
            .typewriter__txt.block-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            a(href="javascript:void()").block-link.typewriter__link About
          .typewriter__desc-i
            .typewriter__title.block-title Geeks do it better We are writing geeks, and we are
            .typewriter__txt.block-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            a(href="javascript:void()").block-link.typewriter__link About
          .typewriter__desc-i
            .typewriter__title.block-title Geeks do it better We are writing geeks, and we are
            .typewriter__txt.block-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            a(href="javascript:void()").block-link.typewriter__link About
        .typewriter__right
          .typewriter__mashine
            .typewriter__mashine-bg
              .typewriter__mashine-bg-i.key.active
              .typewriter__mashine-bg-i.top
              .typewriter__mashine-bg-i.body
            .typewriter__mashine-btn
              a(href="javascript:void()").typewriter__mashine-btn-i.key.active
                span
              a(href="javascript:void()").typewriter__mashine-btn-i.top
                span
              a(href="javascript:void()").typewriter__mashine-btn-i.body
                span

    .shield
      .shield__inner.block-wrap
        .shield__left
          .shield__wrap
            .shield__img
              canvas(id="waves")
        .shield__right
          .shield__title.block-title Geeks do ibetter We are writing geeks, and we
          .shield__txt.block-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          a(href="#").shield__link.block-link See how it works




    .home-slider
      .home-slider__inner.block-wrap
        .home-slider__items.owl-carousel
          .home-slider__item
            .home-slider__title.block-title Testimonials
            .home-slider__txt.block-txt.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .home-slider__caption Bob Dramberg, NY
          .home-slider__item
            .home-slider__title.block-title Testimonials
            .home-slider__txt.block-txt.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .home-slider__caption Bob Dramberg, NY

    .home-seo.seo-block
      .home-seo__inner.seo-block__inner.block-wrap
        .seo-block__title Lorem ipsum dolor sit amet, consectetur
        .home-seo__btn
          a(href="#").home-seo__btn-i.site-btn-blue view pricing

        .seo-block__content
          h2 Geeks do it better. We are writing geeks, and
          p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          h3 Geeks do it better. We are writing geeks, and
          p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

    .home-view.block-wrap
      .home-view__inner
        .home-view__title Lorem ipsum dolor sit amet,
        .home-view__btn
          a(href="#").home-view__btn-i.site-btn-blue view pricing
